body {
  background-color: blueviolet;
}

@media screen and (max-width: 1001){
  body {
    /* width: 300px;
    float: left;
    padding: 20px;
    color: red; */
    background-color: royalblue;
  }
} 

@media screen and (min-width: 1000) {
  body {
    /* width: 300px;
    float: left;
    padding: 20px;
    color: red; */
    background-color: seagreen;
  }
}

